.x-panel-body-default {
     /* Add app styles here !! */
     border-style:none;
}


.rui-card .artifact-color{
    background-color: #35b2e4 !important;
}
.rui-card.subscription-admin .artifact-color{
    background-color: #EEF52F !important;
}